<a href="https://colab.research.google.com/github/pavani-chenna/HDB-Resale-Price-Prediction-System/blob/main/Pavani_Capestone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data collection and Preprocessing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive"

'21L21A0508(1) (1).pdf'
'21L21A0508(1).pdf'
 21L21A0508.jpg
 21L21A0508.pdf
'4-2 results.pdf'
'Colab Notebooks'
 Convert_1724761182524.pdf
'DocScanner 13 Feb 2025 7-21â€¯pm.jpg'
"I am sharing 'PAANI  RESUME.docx' with you from WPS Office"
 IMG-20220122-WA0026.jpg
 IMG-20241201-WA0002.jpg
'JNTUA Results.pdf'
 new_ds_resume.pdf
 new_python_resume.pdf
'PAANI  RESUME.docx'
'pavani_ds_newresume 2.pdf'
'Pavani NEW RESUME (1).pdf'
'Pavani NEW RESUME.pdf'
'pav id card.pdf'
'pav photo.pdf'
'pav sign.jpg'
 record-1623418845843.wav
 ResaleFlatPrices.zip

In [ ]:
import zipfile

# Replace with your actual ZIP path
zip_path = "/content/drive/My Drive/ResaleFlatPrices.zip"

# Extract all files to a folder in Colab
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("/content/data")

# List extracted files
!ls /content/data

'Resale Flat Prices (Based on Approval Date), 1990 - 1999.csv'
'Resale Flat Prices (Based on Approval Date), 2000 - Feb 2012.csv'
'Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016.csv'
'Resale flat prices based on registration date from Jan-2017 onwards.csv'
'Resale Flat Prices (Based on Registration Date), From Mar 2012 to Dec 2014.csv'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1=pd.read_csv('/content/data/Resale Flat Prices (Based on Approval Date), 1990 - 1999.csv')
data1.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200

In [ ]:
data2=pd.read_csv('/content/data/Resale Flat Prices (Based on Approval Date), 2000 - Feb 2012.csv')
data2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0

In [ ]:
data3=pd.read_csv('/content/data/Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016.csv')
data3.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0

In [ ]:
data4=pd.read_csv('/content/data/Resale flat prices based on registration date from Jan-2017 onwards.csv')
data4.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [ ]:
data5=pd.read_csv('/content/data/Resale Flat Prices (Based on Registration Date), From Mar 2012 to Dec 2014.csv')
data5.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0

In [ ]:
combined_file=pd.concat([data1,data2,data3,data4,data5],ignore_index=True)
combined_file.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [ ]:
#save the combined file
combined_file.to_csv('combined_file.csv',index=False)

In [ ]:
combined_file.shape

(964097, 11)

#Feature Engineering

In [ ]:
df=pd.read_csv("/content/combined_file.csv")
df.head()

/tmp/ipython-input-3096328434.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/combined_file.csv")

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [ ]:
df.isnull().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

In [ ]:
df['remaining_lease'].value_counts()

remaining_lease
68                    2328
94 years 10 months    1910
94 years 09 months    1877
67                    1857
94 years 11 months    1848
                      ...
97 years 09 months       1
97 years 07 months       1
97 years 05 months       1
97 years 03 months       1
40 years 01 month        1
Name: count, Length: 742, dtype: int64

In [ ]:
#df['remaining_lease'].unique()

The 'remaing_lease' column has some rows like this 60 year 07 months,first we convert that values to numeric

In [ ]:
def lease_years(lease_str):
  if pd.isna(lease_str):
    return np.nan
  lease_str=str(lease_str).lower().replace(',','').strip()
  parts=lease_str.split()
  try:
     years=int(parts[0])
  except:
    return np.nan
  months=int(parts[2]) if len(parts)>2 else 0
  return years + months/12

df['remaining_lease_years']=df['remaining_lease'].apply(lease_years)

In [ ]:
#we have the lease_commence_date using this calculate the actual remaining lease
from datetime import datetime
current_year=datetime.now().year
df['remaining_lease_years_calc']=99-(2025-df['lease_commence_date'])

In [ ]:
# fill missing values in remaining_lease_years with the caluculated value
df['remaining_lease_years']=df['remaining_lease_years'].fillna(df['remaining_lease_years_calc'])

In [ ]:
#drop the remaining_lease column
df.drop('remaining_lease_years_calc',axis=1,inplace=True)
df.drop('remaining_lease',axis=1,inplace=True)

In [ ]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_years
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,51.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,51.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,51.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,51.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,50.0

**month**

In [ ]:
df['month'].value_counts()

month
1999-03    6465
1999-06    5861
1998-10    5709
1999-04    5698
1999-05    5671
           ...
1991-02     816
1990-10     810
1990-05     778
2020-04     424
2020-05     363
Name: count, Length: 430, dtype: int64

In [ ]:
df['month']=pd.to_datetime(df['month'],format='%Y-%m')

In [ ]:
#extract the new columns
df['year'] = df['month'].dt.year
df['month_num'] = df['month'].dt.month
#df['day']=df['month'].dt.month
#df['months_since_start'] = (df['month'] - df['month'].min()).dt.days // 30

In [ ]:
#drop the month column
df.drop('month',axis=1,inplace=True)

In [ ]:
df.head()

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_years,year,month_num
0,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,51.0,1990,1
1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,51.0,1990,1
2,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,51.0,1990,1
3,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,51.0,1990,1
4,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,50.0,1990,1

**Town**

In [ ]:
df['town'].value_counts()

town
TAMPINES           82703
YISHUN             72540
JURONG WEST        69131
BEDOK              68389
WOODLANDS          68154
ANG MO KIO         53531
HOUGANG            52639
BUKIT BATOK        46500
CHOA CHU KANG      39921
BUKIT MERAH        35732
SENGKANG           35348
PASIR RIS          34110
TOA PAYOH          32889
QUEENSTOWN         29674
GEYLANG            29115
BUKIT PANJANG      28869
CLEMENTI           28820
KALLANG/WHAMPOA    28413
JURONG EAST        25510
SERANGOON          23401
PUNGGOL            23129
BISHAN             21807
SEMBAWANG          15456
MARINE PARADE       8262
CENTRAL AREA        7397
BUKIT TIMAH         2593
LIM CHU KANG          64
Name: count, dtype: int64

In [ ]:
#using label encoding convert categorical into numeric
from sklearn.preprocessing import LabelEncoder
le_town=LabelEncoder()
df['encode_town']=le_town.fit_transform(df['town'])

In [ ]:
#drop the town column
df.drop('town',axis=1,inplace=True)

In [ ]:
df.head()

,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_years,year,month_num,encode_town
0,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,51.0,1990,1,0
1,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0
2,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,51.0,1990,1,0
3,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0
4,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,50.0,1990,1,0

**Flat_type**

In [ ]:
df.flat_type.value_counts()

flat_type
4 ROOM              368335
3 ROOM              304980
5 ROOM              203990
EXECUTIVE            71940
2 ROOM               12987
1 ROOM                1316
MULTI GENERATION       279
MULTI-GENERATION       270
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_flat = LabelEncoder()
df['flat_type_encoded'] = le_flat.fit_transform(df['flat_type'])

In [ ]:
df.drop('flat_type', axis=1, inplace=True)

In [ ]:
df.head()

,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_years,year,month_num,encode_town,flat_type_encoded
0,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,51.0,1990,1,0,0
1,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0,0
2,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,51.0,1990,1,0,0
3,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0,0
4,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,50.0,1990,1,0,2

**Block**

In [ ]:
df['block'].value_counts()

block
2       4689
1       4150
110     3498
101     3474
4       3429
        ...
479A       7
609D       6
226E       2
40B        1
226F       1
Name: count, Length: 2746, dtype: int64

Now,i'm encoding the block because some blocks are more expensive like amentities.So,encoding average price per block

In [ ]:
block_mean_price = df.groupby('block')['resale_price'].mean()
df['block_avg_price'] = df['block'].map(block_mean_price)

In [ ]:
#drop the block column
df.drop('block', axis=1, inplace=True)

In [ ]:
df.head()

,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_years,year,month_num,encode_town,flat_type_encoded,block_avg_price
0,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,51.0,1990,1,0,0,239276.667231
1,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0,0,239276.667231
2,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,51.0,1990,1,0,0,239276.667231
3,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0,0,239276.667231
4,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,50.0,1990,1,0,2,308932.685323

**street_name**

In [ ]:
df.street_name.value_counts()

street_name
YISHUN RING RD        18086
BEDOK RESERVOIR RD    15056
ANG MO KIO AVE 10     14147
ANG MO KIO AVE 3      12429
HOUGANG AVE 8          9615
                      ...
GEYLANG EAST AVE 2       15
SEMBAWANG WAY            15
OUTRAM HILL               9
MARINE PARADE CTRL        3
ALJUNIED AVE 2            2
Name: count, Length: 593, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_street = LabelEncoder()
df['street_encoded'] = le_street.fit_transform(df['street_name'])
df.drop(columns=['street_name'], inplace=True)

**Storey_range**

In [ ]:
df.storey_range.value_counts()

storey_range
04 TO 06    240959
07 TO 09    217833
01 TO 03    192966
10 TO 12    185789
13 TO 15     65686
16 TO 18     25859
19 TO 21     12151
22 TO 24      7911
25 TO 27      3789
01 TO 05      2700
06 TO 10      2474
28 TO 30      1861
11 TO 15      1259
31 TO 33       748
34 TO 36       691
37 TO 39       586
40 TO 42       279
16 TO 20       265
21 TO 25        92
43 TO 45        76
46 TO 48        54
26 TO 30        39
49 TO 51        21
36 TO 40         7
31 TO 35         2
Name: count, dtype: int64

convert storey_range into midpoint if we didnt convert or drop the column we loss information about the floor level,which can reduce the prediction accuracy bec resale prices often depend on floor

In [ ]:
# Convert storey_range to midpoint only
df['storey_mid'] = df['storey_range'].apply(lambda x: np.mean([int(i) for i in x.split(' TO ')]))

# Drop original column
df.drop(columns=['storey_range'], inplace=True)

In [ ]:
df.head()

,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease_years,year,month_num,encode_town,flat_type_encoded,block_avg_price,street_encoded,storey_mid
0,31.0,IMPROVED,1977,9000.0,51.0,1990,1,0,0,239276.667231,14,11.0
1,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0,0,239276.667231,14,5.0
2,31.0,IMPROVED,1977,8000.0,51.0,1990,1,0,0,239276.667231,14,11.0
3,31.0,IMPROVED,1977,6000.0,51.0,1990,1,0,0,239276.667231,14,8.0
4,73.0,NEW GENERATION,1976,47200.0,50.0,1990,1,0,2,308932.685323,14,5.0

**floor_area_sqm**

In [ ]:
df.floor_area_sqm.value_counts()

floor_area_sqm
67.0     71479
104.0    48385
68.0     42137
84.0     36990
92.0     32873
         ...
126.4        1
174.3        1
90.3         1
122.7        1
68.8         1
Name: count, Length: 225, dtype: int64

**flat model**

In [ ]:
df['flat_model'].value_counts()

flat_model
Model A                   209420
Improved                  176963
New Generation            114337
NEW GENERATION             78898
IMPROVED                   73589
MODEL A                    70381
Premium Apartment          50452
Simplified                 35678
Apartment                  26722
Standard                   26051
SIMPLIFIED                 23258
Maisonette                 18332
STANDARD                   17375
MAISONETTE                 12215
Model A2                   10524
APARTMENT                   9901
DBSS                        3778
Adjoined flat               1307
Model A-Maisonette          1152
MODEL A-MAISONETTE           982
Type S1                      495
Terrace                      462
2-room                       354
MULTI GENERATION             279
Multi Generation             270
TERRACE                      247
Type S2                      239
Premium Apartment Loft       123
Premium Maisonette            91
Improved-Maisonette           86
3Gen                          65
IMPROVED-MAISONETTE           44
2-ROOM                        21
PREMIUM APARTMENT              6
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_flatmodel = LabelEncoder()
df['flat_model_encoded'] = le_flatmodel.fit_transform(df['flat_model'])
df.drop(columns=['flat_model'], inplace=True)

In [ ]:
df.head()

,floor_area_sqm,lease_commence_date,resale_price,remaining_lease_years,year,month_num,encode_town,flat_type_encoded,block_avg_price,street_encoded,storey_mid,flat_model_encoded
0,31.0,1977,9000.0,51.0,1990,1,0,0,239276.667231,14,11.0,7
1,31.0,1977,6000.0,51.0,1990,1,0,0,239276.667231,14,5.0,7
2,31.0,1977,8000.0,51.0,1990,1,0,0,239276.667231,14,11.0,7
3,31.0,1977,6000.0,51.0,1990,1,0,0,239276.667231,14,8.0,7
4,73.0,1976,47200.0,50.0,1990,1,0,2,308932.685323,14,5.0,20

**lease_commence_date**

In [ ]:
#drop the lease_commence_date column
df.drop('lease_commence_date',axis=1,inplace=True)

In [ ]:
df.head()

,floor_area_sqm,resale_price,remaining_lease_years,year,month_num,encode_town,flat_type_encoded,block_avg_price,street_encoded,storey_mid,flat_model_encoded
0,31.0,9000.0,51.0,1990,1,0,0,239276.667231,14,11.0,7
1,31.0,6000.0,51.0,1990,1,0,0,239276.667231,14,5.0,7
2,31.0,8000.0,51.0,1990,1,0,0,239276.667231,14,11.0,7
3,31.0,6000.0,51.0,1990,1,0,0,239276.667231,14,8.0,7
4,73.0,47200.0,50.0,1990,1,0,2,308932.685323,14,5.0,20

#Model selection and Training

In [ ]:
#im selecting random forest because it is best for resale flat

In [ ]:
# Correlation matrix for all numeric columns
corr_matrix = df.corr()

# View correlation with resale_price specifically
print(corr_matrix['resale_price'].sort_values(ascending=False))

resale_price             1.000000
year                     0.698815
remaining_lease_years    0.583556
flat_type_encoded        0.559198
floor_area_sqm           0.531238
block_avg_price          0.502941
storey_mid               0.254676
encode_town              0.059826
street_encoded           0.028391
month_num                0.008488
flat_model_encoded      -0.178436
Name: resale_price, dtype: float64

In [ ]:
df=df.drop(['flat_model_encoded','street_encoded','month_num'], axis=1)

In [ ]:
df.head()

,floor_area_sqm,resale_price,remaining_lease_years,year,encode_town,flat_type_encoded,block_avg_price,storey_mid
0,31.0,9000.0,51.0,1990,0,0,239276.667231,11.0
1,31.0,6000.0,51.0,1990,0,0,239276.667231,5.0
2,31.0,8000.0,51.0,1990,0,0,239276.667231,11.0
3,31.0,6000.0,51.0,1990,0,0,239276.667231,8.0
4,73.0,47200.0,50.0,1990,0,2,308932.685323,5.0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

#Features
X=df.drop('resale_price',axis=1)
#target
y=df['resale_price']

#split the dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#train random forest
rf_model = RandomForestRegressor(
    n_estimators=100,
    max_depth=None,
    random_state=42,
    n_jobs=-1
)
rf_model.fit(X_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

In [ ]:
#make predictions
y_pred=rf_model.predict(X_test)

In [ ]:
y_pred

array([254030.89      , 577515.        , 488344.33333333, ...,
       414237.76      , 184447.5952381 , 292864.64285714])

#Evaluate model

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

#mean absolute error
mae=mean_absolute_error(y_test,y_pred)

#mean squared error
mse=mean_squared_error(y_test,y_pred)

#root mean squared error
rmse=np.sqrt(mse)

#r2 score
r2=r2_score(y_test,y_pred)

print(f"MAE:{mae:2f}")
print(f"MSE:{mse:2f}")
print(f"RMSE:{rmse:2f}")
print(f"R2:{r2:2f}")

MAE:18727.091678
MSE:772334830.572072
RMSE:27790.912734
R2:0.976772

In [ ]:
#saved the trained model and label encoders
import joblib
joblib.dump(rf_model,'random_forest_model.pkl')
joblib.dump(le_town,'encoded_town.pkl')
joblib.dump(le_flat,'flat_type_encoded.pkl')

print("\n model and label encoders saved successfully")
print("saved files:")
print("random_forest_model.pkl")
print("encoded_town.pkl")
print("flat_type_encoded.pkl")

 model and label encoders saved successfully
saved files:
random_forest_model.pkl
encoded_town.pkl
flat_type_encoded.pkl

#Streamlit web application

In [ ]:
#!pip install streamlit pyngrok joblib numpy --quiet

In [ ]:
%%writefile app.py
import streamlit as st
import numpy as np
import pandas as pd
import joblib

# Load trained model and label encoders
rf_model = joblib.load("random_forest_model.pkl")
le_town = joblib.load("encoded_town.pkl")
le_flat = joblib.load("flat_type_encoded.pkl")

st.set_page_config(page_title="Singapore HDB Resale Price Prediction", page_icon="ðŸ ", layout="centered")

st.title("ðŸ  Singapore HDB Resale Price Prediction")
st.write("Enter the flat details below to predict the estimated resale price.")

town = st.selectbox("Town", le_town.classes_)
flat_type = st.selectbox("Flat Type", le_flat.classes_)
floor_area_sqm = st.number_input("Floor Area (sqm)", 20.0, 200.0, 80.0)
storey_range = st.text_input("Storey Range (e.g., '10 TO 12')", "10 TO 12")
remaining_lease_years = st.number_input("Remaining Lease (years)", 0.0, 99.0, 70.0)
year = st.number_input("Transaction Year", 1990, 2025, 2025)

try:
    storey_mid = np.mean([int(i) for i in storey_range.split(" TO ")])
except:
    st.error("Invalid storey range format! Please use format like '10 TO 12'.")
    st.stop()

encoded_town = le_town.transform([town])[0]
encoded_flat_type = le_flat.transform([flat_type])[0]

# Dummy for block_avg_price since it's numeric
block_avg_price = 0

input_data = pd.DataFrame({
    "floor_area_sqm": [floor_area_sqm],
    "remaining_lease_years": [remaining_lease_years],
    "year": [year],
    "encode_town": [encoded_town],
    "flat_type_encoded": [encoded_flat_type],
    "block_avg_price": [block_avg_price],
    "storey_mid": [storey_mid]
})

if st.button("Predict Resale Price"):
    try:
        prediction = rf_model.predict(input_data)[0]
        st.success(f"ðŸ¡ Estimated Resale Price: SGD {prediction:,.2f}")
    except Exception as e:
        st.error(f"Error during prediction: {e}")

Writing app.py

In [ ]:
#from pyngrok import ngrok

# Replace YOUR_TOKEN_HERE with your actual token
#ngrok.set_auth_token("34SNfeV8h1lvC603liarhVIsR9E_616yUBtmNYd24iSLdRDnF")

In [ ]:
"""from pyngrok import ngrok
import subprocess, time

# Kill any process using port 8501
!kill -9 $(lsof -t -i:8501) 2>/dev/null || true

# Start Streamlit server
process = subprocess.Popen(["streamlit", "run", "app.py", "--server.port", "8501"])

# Wait for it to start up
time.sleep(10)

# Create public URL with ngrok
public_url = ngrok.connect(8501)
print("ðŸŒ Your Streamlit App is Live Here:", public_url)"""

ðŸŒ Your Streamlit App is Live Here: NgrokTunnel: "https://hubristically-transorbital-cammy.ngrok-free.dev" -> "http://localhost:8501"

In [ ]:
import os

# Create folder
os.makedirs('/content/HDB_App', exist_ok=True)

# Move your files into this folder
!mv app.py /content/HDB_App/
!mv random_forest_model.pkl /content/HDB_App/
!mv encoded_town.pkl /content/HDB_App/
!mv flat_type_encoded.pkl /content/HDB_App/


import shutil

# Zip the folder
shutil.make_archive('/content/HDB_App', 'zip', '/content/HDB_App')

from google.colab import files

files.download('/content/HDB_App.zip')

In [ ]:
#!ls /content/

In [ ]:
#!rm -rf /root/.ngrok2
#!pkill ngrok

In [ ]:
#!lsof -i:8501